MavenProject/messages.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="messages">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="message" maxOccurs="unbounded" minOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="to" type="xs:string"/>
                     <xs:element name="subject" type="xs:string"/>
                     <xs:element name="msgbody" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>